@import "/base/_colors"
@import "/base/_fonts"
@import "/base/_mixins"
@import "/base/typography"

.uk-modal-dialog {
 
button.uk-modal-close-default {

svg {
 color white !important

&:hover {
 color red !important
}// &:hover

}// svg

}// button.uk-modal-close-default

.uk-modal-header {
 background rgba(skag .6)
 padding-top 10px
 padding-bottom 10px
 padding-left 2px
 padding-right 2px
 margin 0

h2.uk-modal-title {
 color white
 font-size 18px

i {
 color white
 font-size 18px
}// i

}// h2.uk-modal-title

}// .uk-modal-header

}// .uk-modal-dialog

.editskolakort {


}// .editskolakort