@import "/base/_colors"
@import "/base/_fonts"
@import "/base/_mixins"
@import "/base/typography"

.header {


.uk-navbar {
 background skag
 max-height 40px

// left //////////////////////////////////////////////////
.uk-navbar-left {
 background rgba(dark .4)

ul.uk-navbar-nav {

li {

a {
 color white
 margin-top -20px
}// a

&.active {

}// &.active

}// li

}// ul.uk-navbar-nav

}// .uk-navbar-left

// right //////////////////////////////////////////////
.uk-navbar-right {
 background white

.uk-navbar-nav {

li {

button {

i {
 color skag !important
 margin-top 10px

}// i

}// button

// notification right panel //////////////////////////////////////////
#offcanvas-flip {


.uk-offcanvas-bar {
 background white !important
 padding 0

button.uk-close {
 background rgba(dark .7)
 color white
 position fixed
 top 5px
 right 5px
}// button.uk-close

p.toptitle {
 background rgba(teal .7)
 color white
 padding-top 5px
 padding-bottom 5px
 margin 0
}// p.toptitle

span {

div {
 background white !important
 padding-top 2px

.flex {

.py-1 {
 
img {
 margin-top 5px
}// img

}// py-1

.pl-2 {
 color teal
 
i {
 font-size 18px
 margin-top -4px
 margin-right -3px
}// i

}// .pl-2

.text-sm {
 margin-top -20px
 margin-left 8px

i {
 font-size 16px
 margin-right -2px

&.clock {
 margin-top -2px
 margin-left 2px
 margin-right -2px
}// &.clock

}// i

}// .text-sm

}// .flex

}// div

}// span

// hlidarbar right fyrri vakt **********************************
p.fyrrititle {
 background rgba(fyrri .7)
 color white
 padding-top 5px
 padding-bottom 5px
 margin 0
}// p.fyrrititle

div {

span.fyrri {

div {

.flex {

.py-1 {
 
span {
 color skag
 font-size 20px
 margin-top 6px
 border 1px solid rgba(skag .3)
}// span id

}// py-1

.pl-2 {
 color skag
 
i {
 font-size 18px
 margin-top -4px
 margin-right -3px
}// i

}// .pl-2

.text-sm {
 margin-top -20px
 margin-left 8px

i {
 font-size 16px
 margin-right -2px

&.clock {
 margin-top -2px
 margin-left 2px
 margin-right -2px
}// &.clock

}// i

}// .text-sm

}// .flex

}// div

}// span.fyrri

}// div

// hlidarbar right seinni vakt **********************************
p.seinnititle {
 background rgba(llorange .7)
 color white
 padding-top 5px
 padding-bottom 5px
 margin 0
}// p.fyrrititle

div {

span.seinni {

div {

.flex {

.py-1 {
 
span {
 color skag
 font-size 20px
 margin-top 6px
 border 1px solid rgba(skag .3)
}// span id

}// py-1

.pl-2 {
 color skag
 
i {
 font-size 18px
 margin-top -4px
 margin-right -3px
}// i

}// .pl-2

.text-sm {
 margin-top -20px
 margin-left 8px

i {
 font-size 16px
 margin-right -2px

&.clock {
 margin-top -2px
 margin-left 2px
 margin-right -2px
}// &.clock

}// i

}// .text-sm

}// .flex

}// div

}// span.seinni

}// div

}// .uk-offcanvas-bar

}// #offcanvas-flip

a { 
 color gray
 font-weight 500
 text-transform none
 margin-top -20px

@media only screen and (max-width: 414px) {
 margin-top -20px
 // margin-top 0

}// below 414px

&:hover {
 color red !important
}// &:hover

span {

svg {
 color dark
 width 12px
 margin-right 2px

}// svg

}// span

&.uk-link-reset {

img {
 margin-right 2px
}// img

}// &.uk-link-reset

}// a

}// li

}// .uk-navbar-nav

}// .uk-navbar-right

}// .uk-navbar

}// .header