@import "/base/_colors"
@import "/base/_fonts"
@import "/base/_mixins"
@import "/base/typography"

.lenda {

// arskort ******************************************
.toppart {

// card *********************************************
div {

div {

.v-card {

.v-card__title {

span.headline {

i {

}// i

}// span.headline

button.v-btn {

span.v-btn__content {
 margin-left -50px !important

i {
 padding-right 10px
 margin-top -2px
}// i

}// span.v-btn__content

}// button.v-btn

}// .v-card__title

}// .v-card

}// col

}// row

div {

div {

.mb-8 {

p {

i {

}// i

span.pl-2 {
 color skag
}// span.pl-2

b {
 color teal
}// b

}// p

}// .mb-8

// starfsmaadur
.flex {

span {
 
img {
 margin-top -18px
}// img

}// span

.text-sm {

p.sm {
 font-size 13px

i {
 font-size 16px
 margin-top -2px
}// i

}// p.sm

p.sgray {
 font-size 12px !important
 margin-top -12px
 
i {
 font-size 14px
}// i

}// p.sgray

}// .text-sm

}// .flex

}// div

}// div

}// .toppart

}// .lenda