@import "/base/_colors"
@import "/base/_fonts"
@import "/base/_mixins"
@import "/base/typography"

.matur {

// search form ////////
section {

.field {

.field-body {

.is-grouped {
 
.control is-expanded {

input.input {


}// input.input

}// .control is-expanded

p.control {
 margin-top 0px
 margin-left -14px

button.button {
 background rgba(skag .7)

i {
 color white !important
}// i

}// button.button

}// p.control

}// .is-grouped

}// .field-body

p.help {
 background rgba(skag .6)
 color white
 font-size 14px
 text-align center
 padding 10px
 margin-top -15px
}// p.help

}// .field

}// section

// matarpantanir //////////////////////////////////
span {

.v-alert {
 padding-top 10px
 padding-bottom 5px
 padding-left 5px
 padding-right 5px
 margin-top 0
 margin-bottom 1px
 margin-left 0
 margin-right 0

@media only screen and (max-width : 375px) {
 padding-left 0px
 padding-right 0px

}// 375px

.v-alert__wrapper {

i {
 
}// i

.v-alert__content {
 
@media only screen and (max-width : 375px) {
 margin-left -8px

}// 375px

span {
 font-size 14px
 padding-top 2px
 padding-bottom 2px
 padding-left 3px
 padding-right 3px
 margin-top -2px

@media only screen and (max-width : 368px) {
 font-size 12px
}// 368px
@media only screen and (max-width : 340px) {
font-size 10px
}// 340px

}// span 

a {
 text-decoration none

i.edit {
 color gray

&:hover {
 color blue
}// &:hover

}// i.edit

}// a

i.del {
 color dark

&:hover {
 color red
}// &:hover

}// i.del

}// .v-alert__content

}// .v-alert__wrapper

}// .v-alert

}// span posts

}// .matur