@import "/base/_colors"
@import "/base/_fonts"
@import "/base/_mixins"
@import "/base/typography"

.skolakort {

// search form ////////
section {

.field {

.field-body {

.is-grouped {
 
.control is-expanded {

input.input {


}// input.input

}// .control is-expanded

p.control {
 margin-top 0px
 margin-left -14px

button.button {
 background rgba(skoli .7)

i {
 color white !important
}// i

}// button.button

}// p.control

}// .is-grouped

}// .field-body

p.help {
 background rgba(skoli .6)
 color white
 font-size 14px
 text-align center
 padding 10px
 margin-top -15px
}// p.help

}// .field

}// section

// skolakort ******************************************
.container {

.row {

.v-card {

div {

.v-list-item {

.v-list-item__content {

.overline {// Árskort
 background: linear-gradient(110deg, rgba(skoli .7) 60%, rgba(skag .7) 60%);
 color white
 text-align center

i {

&:hover {
 color white
}// &:hover

}// i

}// .overline

// modal for edit skolakort ////////////////////////////////
.modal-center {

.uk-modal-dialog {

button.uk-modal-close-default {
 color dark !important

}// button.uk-modal-close-default

// _id ////////////////
.skolaid {

.v-container {

.v-row {

.v-col {

div {

span {
 color red !important
}

}// div

}// .v-col

}// .v-row

}// .v-container

}// .skolaid

}// .uk-modal-dialog

}// .modal-center

.v-list-item__title {

}// .v-list-item__title

.v-list-item__subtitle {
 color dark

i {
 color gray
 font-size 16px
}// i

span {

&.gildir {
 color llorange
}// &.gildir

i {

}// i

}// span

}// .v-list-item__subtitle

}// .v-list-item__content

}// .v-list-item

.v-card__actions {
 background rgba(skoli .4)
 padding 0

button.v-btn {

span.v-btn__content {
 color white
 font-size 14px
 text-transform none

i {
 color dark
 font-size 18px
 padding-right 2px
}// i

span {
 color white
 font-size 14px
 text-transform none
 margin-left 5px

&.sund {
 color yellow
}// &.sund

&.uti {
 color green
}// &.uti

&.pontun {
 color skoli
}// &.pontun

}// span

}// span.v-btn__content

}// button.v-btn

}// .v-card__actions

}// div

}// .v-card

}// .row

}// .container

}// .skolakort