@import "/base/_colors"
@import "/base/_fonts"
@import "/base/_mixins"
@import "/base/typography"

.tilk {

.v-card {

.v-timeline {

span {

.v-timeline-item {

.v-timeline-item__body {

div {

div {


strong {

}// strong

}// div

}// div

}// .v-timeline-item__body

}// .v-timeline-item

}// span

}// .v-timeline

}// .v-card

}// .tilk