@import "/base/_colors"
@import "/base/_fonts"
@import "/base/_mixins"
@import "/base/typography"

.tilk {

.v-card {

.v-card__text {

}// .v-card_-text

.v-timeline {

span {

.v-timeline-item {

.v-timeline-item__body {

div {

div {


strong {

}// strong

}// div

}// div

}// .v-timeline-item__body

}// .v-timeline-item

}// span

}// .v-timeline

}// .v-card

}// .tilk

// .nytilk ////////////////////////////////////
#modal-close-outside {

.uk-modal-dialog {

button.uk-modal-close-default {

svg {
 color dark !important

&:hover {
 color red !important
}// &:hover

}// svg

}// button.uk-modal-close-default

.nytilk {




}// .nytilk

}// .uk-modal-dialog

}// #modal-close-outside