@import "/base/_colors"
@import "/base/_fonts"
@import "/base/_mixins"
@import "/base/typography"

.valmoguleikar {

form {

fieldset.uk-fieldset {

// hitinn i sundlaug & pottum ************************************
.hitilaug {

dl.uk-description-list {

dt {

}// dt

dd {
 color rgba(gray .5)
 font-size 12px

span {
 color rgba(red .5)
}// span

}// dd

}// dl.uk-description-list

.has-numberinput {

.b-numberinput {

p.minus {

button.button {

}// button.button

}// p.minus

p.plus {
 margin-top 0px

button.button {

span.icon {

i {
 
}// i

}// span.icon

}// button.button

}// p.plus

}// .b-numberinput

}// .has-numberinput

}// .hitilaug

.hitikaldur {

dl.uk-description-list {

dt {

}// dt

dd {
 color rgba(gray .5)
 font-size 12px

span {
 color rgba(red .5)
}// span

}// dd

}// dl.uk-description-list

.has-numberinput {

.b-numberinput {

p.minus {

button.button {

}// button.button

}// p.minus

p.plus {
 margin-top 0px

button.button {

span.icon {

i {
 
}// i

}// span.icon

}// button.button

}// p.plus

}// .b-numberinput

}// .has-numberinput

}// .hitikaldur

.hitiheitur {

dl.uk-description-list {

dt {

}// dt

dd {
 color rgba(gray .5)
 font-size 12px

span {
 color rgba(red .5)
}// span

}// dd

}// dl.uk-description-list

.has-numberinput {

.b-numberinput {

p.minus {

button.button {

}// button.button

}// p.minus

p.plus {
 margin-top 0px

button.button {

span.icon {

i {
 
}// i

}// span.icon

}// button.button

}// p.plus

}// .b-numberinput

}// .has-numberinput

}// .hitiheitur

}// fieldset.uk-fieldset

}// form

}// .valmoguleikar